.container {
    /*font-family: 'Noto Sans JP', sans-serif;*/
    margin-top: 80px;
}
a {
    text-decoration: none;
}
th {
    height: 30px;
    text-align: center;
}
td {
    height: 100px;
}
.today {
    background: orange !important;
}
th:nth-of-type(1), td:nth-of-type(1) {
    color: red;
}
th:nth-of-type(7), td:nth-of-type(7) {
    color: blue;
}